.App {
}

.main-section {
  min-height: calc(100vh - 224px);
  padding: 0 64px;
}

.title {
  color: #272d2a;
  text-align: center;
}

.content {
  max-width: 900px;
  min-height: 70vh;
  margin: 32px auto;
  padding: 16px;
}

.post {
  padding: 16px;
  background-color: #272d2a;
  color: #fffcb6;
  margin-bottom: 24px;
}

.author {
  font-weight: 600;
}

.text {
  font-style: italic;
  padding: 0 8px;
}
