.App {
}

.main-section {
  min-height: calc(100vh - 224px);
  padding: 0 64px;
}

.title {
  color: #272d2a;
  text-align: center;
}

.content {
  max-width: 900px;
  min-height: 70vh;
  margin: 32px auto;
  padding: 16px;
  border: 2px dashed #272d2a;
}
